snippet version "ARG_VERSION([echo $0 v1.0])"
ARG_VERSION([echo \$0 v1.0])
endsnippet

snippet arg_pos_multi "ARG_POSITIONAL_MULTI([argument-name], [help message (optional)], [number of arguments], ..., [default for the second-to-last (i.e. penultimate) argument (optional)], [default for the last argument (optional)])"
ARG_POSITIONAL_MULTI([name], [help (optional)], [1], default (optional)])
endsnippet
